.buttons {
  font-family: inter, sans-serif;
}

.mobile-nav {
  display: none;
}

.desktop-nav {
  display: flex;
}

@media screen and (max-width: 768px) {
  .mobile-nav {
    display: flex;
    justify-content: space-between;
    padding: 20px;
    align-items: center;
  }

  .mobile-menu {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 10px;
    background-color: #f8f8f8;
    border-radius: 5px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  }

  .desktop-nav {
    display: none;
  }
}
